<!DOCTYPE html>
<head>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  
</head>
<body>
    Hi,my name is alisha mehta.This is my blog. I listen to music,study,play badminton. I m a student at NIT Hamirpur.
</body>
<form>
    <input type ='text' name="blog" placeholder="ADD NEW BLOG" required/>
    <button type="submit">ADD BLOG</button>
</form>
</html>